$desktop-size: 750px;
$mobile-size: 350px;

@mixin mobile {
    @if true {
        @media all and (max-width: $desktop-size) { 
            @content;
        }
    }
}
@mixin desktop {
    @if true {
        @media not all and (max-width: $desktop-size) { 
            @content;
        }
    }
}
@mixin tiny {
    @if true {
        @media all and (max-width: $mobile-size) {
            @content
        }
    }
}

html {
    @include desktop {
        font-size: 10px;
    }
    @include mobile {
        font-size: 7px;
    }
    @include tiny {
        font-size: 5px;
    }

    .image_demo {
        width: 32.0em;
    }
}

// TODO: actual reset
html {
    * {
        padding: 0;
        margin: 0;
    }
}

// prevents white space on bottom
html, body {
    min-height: 100%;
}

body {
    background: #d3e7ff;
    // background: -moz-linear-gradient(top, hsl(213,100%,91%) 0%, hsl(0,100%,91%) 100%);
    // background: -webkit-linear-gradient(top, hsl(213,100%,91%) 0%,hsl(0,100%,91%) 100%);
    background: linear-gradient(to bottom, hsl(213,100%,91%) 0%,hsl(0,100%,91%) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3e7ff', endColorstr='#ffd1d1',GradientType=0 );
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    font-family: 'Avenir';
}

#demo {
    text-align: center;

    margin-top: 3rem;
    margin-bottom: 1rem;
}

#title {
    text-align: center;

    h1 {
        font-size: 5.6em;
    }

    .exclamation {
        //color: saturate(orange, 5%);
        color: darken(orange, 5%);
    }

    .u_exclamation {
        color: lighten(blue, 20%);   
    }

    // blocky
    // font-family: 'Bree Serif', serif;

    // campy
    // font-family: 'Wendy One', sans-serif;

    // thin and nice
    // font-family: 'Domine', serif;

    // font-family: 'Patua One', cursive;

    font-family: 'Sansita One', cursive;

    margin-bottom: 1rem;
}

#blurb {
    text-align: center;

    p {
        width: 100%;
        font-size: 2.2em;
    }

    div {
        margin: 0 auto;
        width: 40em;
    }
}